

#messege-input{
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

#chat-screen{
  display: none;
}
.div-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  margin-left: 450px;
  background-color: #01a0fe;
  border-radius: 2rem;

}
h1{
  margin-top: 40px;
  text-align: center;
  color:lightgray;

}
.first-page{
  flex: 2;
}
img{
  margin-left: 90px;
  margin-top: 40px;
}
.first-page img{
  width: 40%;
  }
.second-page{
  flex: 1;
  display: flex;
  background-color: gray;
  flex-direction: column;
  justify-content:center;


  }
.login-div{
  color: white;
}

.second-page .btn {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
