h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-left: 10px;
    text-align: left;
    position: absolute;
    color: lightgray;
}
body{
  display: flex;
  justify-content: center;
  background-color: lightgray;
}
